$body: #CDD4D9;

$terminal-bg: #000000;

$text: #F8F9FA;

$dull: #6A757C;

$dull-1: lighten($dull, 10%);
$dull-2: lighten($dull, 20%);
$dull-5: lighten($dull, 50%);


$accent: rgb(4, 230, 121);

$hover: rgba(4, 230, 121, 0.18);

$error: #EC5353;

$output-bg: #202529;

$input-bg: #333A3F;

//profile pic
$photo-bg: lighten($terminal-bg, 10%);
$photo-border: #56e67940; //#056335; //darken($accent, 20%);

@mixin dull($prop) {
  #{$prop}: $dull ;
}


.dull {
  color: $dull;
}

.dull-1 {
  color: $dull-1;
}

.dull-2 {
  color: $dull-2;
}

.dull-5 {
  color: $dull-5;
}

.success {
  color: $accent;
}

.error {
  color: $error;
}